@charset "utf-8";
* 						{margin: 0; padding: 0;}
body{
	font: 16px Playfair Display !important;
}

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap >.main 		{padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div				{padding: 5px;}
header, nav, section		{background: #eee;}
footer					{background: #eee; text-align: center;}
nav span             				{ margin: 0px 10px 0px 0px;
						width: 100%;
						display: inline-block;}

#ErrorMsgs          		 { color: #f61; font-size: smaler}

#output{
	display: none;
	margin: 0 auto;
	height: 150px;
}

.derrigorrezkoa{
	color: red;
}

i.bi.bi-person-circle{
  font-size: xxx-large;
}

.form-control {
  border: 0 !important ;
  outline: 0 !important ;
  background: transparent !important ;
  border-bottom: 1px solid black !important ;
}

@media (min-width : 992px) {
  .offcanvas {
    visibility: visible !important;
    position: relative !important;
    background: none;
    border: none;
    justify-content: end;
  }
}
@media (max-width : 992px) {
  .offcanvas {
    width : 250px !important;
  }
  .offcanvas-start-lg {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(-100%);
  }
}
