@charset "utf-8";
* 						{margin: 0; padding: 0;}
body{
	font: 16px Playfair Display !important;
}

#page-wrap				{ color: white;}
#page-wrap >.main 		{padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div				{padding: 20px;}

header, nav, section		{background: white;}

nav span             				{ margin: 0px 10px 0px 0px;
						width: 100%;
						display: inline-block;}

#ErrorMsgs          		 { color: #f61; font-size: smaler}

#output{
	display: none;
	height: 17vh;
  float: left;
}

.derrigorrezkoa{
	color: red;
}

i.bi.bi-person-circle{
  font-size: xxx-large;
}

.form-control {
  border: 0 !important ;
  outline: 0 !important ;
  background: transparent !important ;
  border-bottom: 1px solid black !important ;
}

@media (min-width : 992px) {
  .offcanvas {
    visibility: visible !important;
    position: relative !important;
    background: none;
    border: none;
    justify-content: end;
  }
}
@media (max-width : 992px) {
  .offcanvas {
    width : 250px !important;
  }
  .offcanvas-start-lg {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(-100%);
  }
}

.imgder{
    float:right; /*para ponerlo a la derecha */
    margin:20px; /* un margen cualquiera */
  }

  .imgcen{
    float:center; /*para ponerlo a la derecha */
    margin:20px; /* un margen cualquiera */
  }

  .imgizq{
    float:left; /*para ponerlo a la izquierda */
    margin:20px; /* un margen cualquiera */
  }
  .imgizq img, .imgder img, .imgcen img{
    display: block;
    margin: 0 auto; /* centrar imagen */
  }
  .imgizq p, .imgder p, .imgcen p{
    text-align:center; 
    font-weight:bold; 
    font-size: 14px; 
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }


html{
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
}

section{
  margin-bottom: 100px;
}

footer{
  background: #CDCDD3; 
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav.navbar-left {
    padding-left: 30px;
}

.navbar-nav.navbar-right {
    position: absolute;
    right: 0%;
    transform: translatex(-50%);
}

a:link, a:visited, a:active {
    text-decoration:none;
}


#irudiaDiv{
  display: inline-block; position: relative; width: 100%;
}

#img{
  display: none;
}

#hustu_img{
  position: absolute; 
  right: 0; 
  top: 20%;
}

#defaultImg{
  z-index: -2;
}

.active{
  font-weight: 700;
}

.btn-close {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
	padding-right: 10em;
}

